{% assign class_tags = "" | split: "" %}
{% assign level_tags = "" | split: "" %}
{% assign tag_fields = "tags,tag_topic,tag_class,tag_level,tag_tools,tag_custom" | split: "," %}
{% for post in site.posts %}
  {% for field in tag_fields %}
    {% if post[field] %}
      {% for tag in post[field] %}
        {% if tag contains "Class " %}
          {% assign class_tags = class_tags | push: tag %}
        {% elsif tag contains "Level " %}
          {% assign level_tags = level_tags | push: tag %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign class_tags = class_tags | uniq | sort %}
{% assign level_tags = level_tags | uniq | sort %}

<div class="sidebar-content">
  <div class="search-wrapper">
    <input type="text" id="search-input" class="form-input" placeholder="Search&hellip;" autocomplete="off">
  </div>
</div>

<div class="sidebar-content">
  <h4>Course Type</h4>
  <div id="filter-class">
    {% for tag in class_tags %}
    <label class="form-checkbox">
      <input type="checkbox" class="filter-cb" data-tag="{{ tag | downcase }}">
      <i class="form-icon"></i> {{ tag | remove: "Class " }}
    </label>
    {% endfor %}
  </div>
</div>

<div class="sidebar-content">
  <h4>Level</h4>
  <div id="filter-level">
    {% for tag in level_tags %}
    <label class="form-checkbox">
      <input type="checkbox" class="filter-cb" data-tag="{{ tag | downcase }}">
      <i class="form-icon"></i> {{ tag | remove: "Level " }}
    </label>
    {% endfor %}
  </div>
</div>

<div class="sidebar-content" id="sidebar-results-info" style="display:none">
  <p id="results-count" class="text-gray"></p>
  <button id="clear-filters" class="btn btn-sm">Clear filters</button>
</div>
