<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body id="top" class="header-fixed header-animated header-dark sticky-footer">
  <div id="page-wrapper">
    {% include header.html %}

    <section id="start">
      <section id="body-wrapper" class="section blog-listing">
        <section class="container grid-lg">

          <div id="breadcrumbs" style="padding-top:5rem;">
            <span itemscope itemtype="http://schema.org/BreadcrumbList">
              <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ '/' | relative_url }}"><span itemprop="name">Home</span></a>
                <i class="fa fa-angle-right"></i>
              </span>
              <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">{{ page.title }}</span>
              </span>
            </span>
          </div>

          <div class="columns">
            <div id="item" class="column col-9 col-md-12 extra-spacing">

              <div class="content-item h-entry">
                <div class="content-title text-center">
                  <h2 class="p-name mt-1">{{ page.title }}</h2>

                  <span class="blog-date">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
                      <i class="fa fa-calendar"></i> {{ page.date | date: "%-d %b %Y" }}
                    </time>
                  </span>

                  {% if page.tags.size > 0 %}
                  <br>
                  <span class="tags" style="display:inline-block;margin-top:.5rem;">
                    {% for tag in page.tags %}
                    <a class="label label-rounded label-secondary p-category"
                       href="{{ '/' | relative_url }}?filter={{ tag | downcase | url_encode }}">{{ tag }}</a>
                    {% endfor %}
                  </span>
                  {% endif %}
                </div>

                <div class="e-content">
                  {{ content }}
                </div>
              </div>

              <p class="prev-next text-center">
                {% if page.next %}
                <a class="btn" href="{{ page.next.url | relative_url }}">
                  <i class="fa fa-angle-left"></i> Prev Post
                </a>
                {% endif %}
                {% if page.previous %}
                <a class="btn" href="{{ page.previous.url | relative_url }}">
                  Next Post <i class="fa fa-angle-right"></i>
                </a>
                {% endif %}
              </p>

            </div>

            <div id="sidebar" class="column col-3 col-md-12">
              {% include sidebar-post.html %}
            </div>
          </div>

        </section>
      </section>
    </section>
  </div>

  {% include footer.html %}
  {% include mobile-nav.html %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="{{ '/assets/vendor/js/jquery.treemenu.js' | relative_url }}"></script>
  <script src="{{ '/assets/vendor/js/site.js' | relative_url }}"></script>
</body>
</html>
