<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body id="top" class="header-fixed header-animated header-dark sticky-footer">
  <div id="page-wrapper">
    {% include header.html %}

    <section id="start">
      <section id="body-wrapper" class="section" style="padding: 1rem 1rem;">
        <section class="container grid-lg">
          
          <div style="padding-top: 1.5rem; margin-bottom: 2rem;">
            <nav id="breadcrumbs">
              <ul class="eyarc-breadcrumbs">
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li class="active">{{ page.title }}</li>
              </ul>
            </nav>
          </div>

          <div class="columns">
            <div id="item" class="column col-12 extra-spacing">
              <div class="content-item h-entry">
                <div class="content-title">
                  <h2 class="p-name">{{ page.title }}</h2>
                  <p class="text-gray">
                    <i class="fa fa-calendar"></i>
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
                      {{ page.date | date: "%B %-d, %Y" }}
                    </time>
                  </p>
                </div>
                <div class="e-content">
                  {{ content }}
                </div>

                <div class="post-actions" style="margin-top: 3rem;">
                  <a href="https://www.ey.com/en_us/about-us/ey-foundation-and-university-relations/academic-resource-center"
                     class="custom-button-yellow">Join EYARC for Full Access</a>
                </div>

                {% if page.tags.size > 0 %}
                <div class="post-footer" style="margin-top:2rem; padding-top:1rem; border-top:1px solid #e7e9ed;">
                  {% for tag in page.tags %}
                  <span class="label label-rounded label-secondary">{{ tag }}</span>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="prev-next" style="margin-top:2rem; margin-bottom: 4rem;">
                  {% if page.previous %}
                  <a href="{{ page.previous.url | relative_url }}" class="btn btn-sm">
                    <i class="fa fa-angle-left"></i> {{ page.previous.title | truncatewords: 6 }}
                  </a>
                  {% endif %}
                  {% if page.next %}
                  <a href="{{ page.next.url | relative_url }}" class="btn btn-sm" style="float:right;">
                    {{ page.next.title | truncatewords: 6 }} <i class="fa fa-angle-right"></i>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="custom-section" style="background-color: #f9f9f9; padding: 4rem 1rem;">
          <div class="container grid-lg">
            <div class="custom-card">
              <img src="{{ '/assets/images/classroom.jpg' | relative_url }}" alt="EYARC Experience Image">
              <div class="custom-content">
                <h2>EYARC Experience</h2>
                <p>Turn case studies into powerful teaching moments for your students. Active EYARC users can explore our experiential learning platform to access cutting-edge curricula and innovative teaching resources.</p>
                <a href="https://experience.eyarc.site/" class="custom-button-black">Try It Now</a>
              </div>
            </div>
            <div class="custom-card">
              <div class="custom-content">
                <h2>Academic Case Materials</h2>
                <p>Access free resources to prepare students for the global marketplace. Resources include case studies, data sets, analytics workbooks, videos and many other tools focused on business and accounting topics.</p>
                <a href="{{ '/' | relative_url }}" class="custom-button-black">Get Started</a>
              </div>
              <img src="{{ '/assets/images/desk.jpg' | relative_url }}" alt="Academic Case Materials Image">
            </div>
          </div>
        </div>
      </section>
    </section>

  </div>
  {% include footer.html %}
  {% include mobile-nav.html %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="{{ '/assets/vendor/js/jquery.treemenu.js' | relative_url }}"></script>
  <script src="{{ '/assets/vendor/js/site.js' | relative_url }}"></script>
</body>
</html>
